<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 문의 게시판 매퍼 -->
<mapper namespace="com.mypf.mapper.AskMapper">

	<!-- 문의 게시판 글 작성 -->
	<insert id="sendAsk" parameterType="com.mypf.ask.vo.AskVO">
		INSERT INTO ASK_BOARD (WRITER_NM, ASK_NUM, WRITER_MAIL, ASK_TITLE, ASK_CON, COMM_YN)
		VALUES (#{writer_nm}, ASK_BOARD_SEQ.NEXTVAL, #{writer_mail}, #{ask_title}, #{ask_con}, 'N')
	</insert>
	
	<!-- 문의 게시판 목록 조회 -->
	<select id="askList" resultType="com.mypf.ask.vo.AskVO" parameterType="com.mypf.ask.vo.Criteria">
		SELECT  ASK_NUM, ASK_TITLE, WRITER_NM, COMM_YN, INS_DT
		FROM (SELECT ASK_NUM, ASK_TITLE, WRITER_NM, COMM_YN, INS_DT, ROW_NUMBER() OVER(ORDER BY ASK_NUM DESC) AS RNUM
		FROM ASK_BOARD) WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd} ORDER BY ASK_NUM DESC
	</select>
	
	<!-- 문의 게시판 글 총 갯수 -->
	<select id="askCount" resultType="int">
		SELECT COUNT(ASK_NUM) FROM ASK_BOARD WHERE ASK_NUM > 0
	</select>
</mapper>