<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 문의 게시판 매퍼 -->
<mapper namespace="com.mypf.mapper.AskMapper">

	<!-- 문의 게시판 글 작성 -->
	<insert id="sendAsk" parameterType="com.mypf.ask.vo.AskVO">
		INSERT INTO ASK_BOARD (WRITER_NM, ASK_NUM, WRITER_MAIL, ASK_TITLE, ASK_CON, COMM_YN)
		VALUES (#{writer_nm}, ASK_BOARD_SEQ.NEXTVAL, #{writer_mail}, #{ask_title}, #{ask_con}, 'N')
	</insert>
	
	<!-- 문의 게시판 목록 조회 -->
	<select id="askList" resultType="com.mypf.ask.vo.AskVO" parameterType="com.mypf.ask.vo.SearchCriteria">
		SELECT  ASK_NUM,
				ASK_TITLE,
				WRITER_NM,
				COMM_YN,
				INS_DT
		FROM (
				SELECT  ASK_NUM,
						ASK_TITLE, 
						WRITER_NM, 
						COMM_YN, 
						INS_DT, 
						ROW_NUMBER() OVER(ORDER BY ASK_NUM DESC) AS RNUM
				FROM ASK_BOARD
				WHERE 1=1
					<include refid="search"></include>
								) 
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd} ORDER 
		BY ASK_NUM DESC
	</select>
	
	<!-- 문의 게시판 글 총 갯수 -->
	<select id="askCount" parameterType="com.mypf.ask.vo.SearchCriteria" resultType="int">
		SELECT COUNT(ASK_NUM)
			FROM ASK_BOARD 
			WHERE 1=1
		<include refid="search"></include>	
			AND ASK_NUM > 0
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'TC'.toString()">AND ASK_TITLE LIKE '%' || #{keyword} || '%' OR ASK_CON LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'T'.toString()">AND ASK_TITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'W'.toString()">AND WRITER_NM LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'C'.toString()">AND ASK_CON LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'Y'.toString()">AND COMM_YN LIKE '%' || #{keyword} || '%'</if>
		</if>
	</sql>
	
	<!-- 문의 게시판 문의 조회 -->
	<select id="askDetail" resultType="com.mypf.ask.vo.AskVO">
		SELECT * FROM ASK_BOARD WHERE ASK_NUM = #{ask_num}
	</select>
	
	<!-- 문의 게시판 답변 조회 -->
	<select id="commDetail" resultType="com.mypf.ask.vo.AskCommVO">
		SELECT * FROM ASK_COMM WHERE ASK_NUM = #{ask_num}
	</select>
	
	<!-- 문의 게시판 글 답변 저장  -->
 	<insert id="sendAnswer">
	   INSERT INTO ASK_COMM (USER_ID, ASK_NUM, COMM_TITLE, COMM_CON)
	   VALUES (#{user_id}, #{ask_num}, #{comm_title}, #{comm_con})
	</insert>

	<!-- 문의 게시판 답변 여부 수정 -->
	<update id="updateCommYn">
		update ask_board set comm_yn = 'Y' where ask_num = #{ask_num}
	</update>
</mapper>