<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypf.mapper.PortfolioMapper"> 

<!-- 포폴 리스트 -->
<select id="pfList" resultType="com.mypf.portfolio.vo.PortfolioVO">
	<![CDATA[
		SELECT 
			*
		FROM (
			SELECT /*+INDEX_DESC(prtf_board pk_prtf_board) */
				rownum rn
				,prtf_num
				,prtf_title
				,prtf_con
				,frm_dt
				,to_dt
				,position
				,idea
				,url
				,hit
				,category
				,ins_dt
			FROM PRTF_BOARD
			WHERE
	]]>
			<include refid="pfCriteria"></include>
	<![CDATA[
		 rownum <= #{pageNum} * #{amount})
            WHERE rn > (#{pageNum}-1) * #{amount}
	]]>
<!-- 		SELECT -->
<!-- 		    ROWNUM rn, -->
<!-- 		    a.prtf_num, -->
<!-- 		    a.prtf_title, -->
<!-- 		    a.prtf_con, -->
<!-- 		    a.category, -->
<!-- 		    concat('C:\upload\', concat(concat(b.file_path, concat('\s_', concat(b.uuid,'_'))), b.file_nm)) AS file_nm -->
<!-- 		FROM -->
<!-- 	         ( -->
<!-- 	        SELECT -->
<!-- 	             * -->
<!-- 	        FROM -->
<!-- 	            ( -->
<!-- 	                SELECT /*+INDEX_DESC(prtf_board pk_prtf_board) */  -->
<!-- 	                                ROWNUM rn, -->
<!-- 	                    prtf_num, -->
<!-- 	                    prtf_title, -->
<!-- 	                    prtf_con, -->
<!-- 	                    frm_dt, -->
<!-- 	                    to_dt, -->
<!-- 	                    position, -->
<!-- 	                    idea, -->
<!-- 	                    url, -->
<!-- 	                    hit, -->
<!-- 	                    category, -->
<!-- 	                    ins_dt -->
<!-- 	                FROM -->
<!-- 	                    prtf_board -->
<!-- 	                WHERE -->
<!-- 		<include refid="pfCriteria"></include> -->
<!-- 	                    ROWNUM <= #{pageNum} * #{amount} -->
<!-- 	            ) -->
<!-- 	        WHERE -->
<!-- 	            rn > ( #{pageNum} - 1 ) * #{amount} -->
<!-- 	    ) a -->
<!-- 	    INNER JOIN prtf_file b ON a.prtf_num = b.prtf_num -->
<!-- 	<if test="'category' =='siu'"> -->
<!-- 	</if> -->
<!-- 	<if test="'category' == 'ej'"> -->
<!-- 		AND CATEGORY == 'EJ' -->
<!-- 	</if> -->
</select>

<!-- 포폴 전체 데이터의 개수 처리 -->
<select id="getTotalCount" resultType="int">
	<![CDATA[
		SELECT COUNT(*) FROM PRTF_BOARD
		WHERE prtf_num > 0
	]]>
</select>

<!-- 포폴 등록 -->
<insert id="pfAdd" parameterType="com.mypf.portfolio.vo.PortfolioVO">
	<selectKey keyProperty="prtf_num" order="BEFORE" resultType="int">
		<![CDATA[SELECT SEQ_PRTF_BOARD.NEXTVAL FROM DUAL]]>	
	</selectKey>
	<![CDATA[
		INSERT INTO PRTF_BOARD (
			user_id
			,prtf_num
			,prtf_title
			,prtf_con
			,frm_dt
			,to_dt
			,position
			,idea
			,url
			,hit
			,category
			,ins_dt
		) VALUES (
			#{user_id}
			,#{prtf_num}
			,#{prtf_title}
			,#{prtf_con}
			,to_date(#{frm_dt}, 'yyyy/mm/dd')
			,to_date(#{to_dt}, 'yyyy/mm/dd')
			,#{position}
			,#{idea}
			,#{url}
			,0
			,#{category}
			,sysdate)
	]]>
</insert>

<!-- 포폴 상세보기 -->
<select id="pfDetail" resultType="com.mypf.portfolio.vo.PortfolioVO">
	<![CDATA[
		SELECT 
			A.user_id
			,A.prtf_num
			,B.user_nm
			,A.prtf_title
			,A.prtf_con
			,A.frm_dt
			,A.to_dt
			,A.position
			,A.category
			,A.idea
			,A.url
		FROM PRTF_BOARD A
			LEFT OUTER JOIN user_info B ON A.user_id = B.user_id
		WHERE prtf_num = #{prtf_num}
	]]>
</select>

<!--  조회수 증가 -->
<update id="addHit">
	<![CDATA[
		UPDATE PRTF_BOARD
		SET hit = (
			SELECT NVL(hit,0) + 1 FROM PRTF_BOARD WHERE prtf_num = #{prtf_num})
		WHERE prtf_num = #{prtf_num}
	]]>
</update>

<!-- 포폴 수정 -->
<update id="pfMod" parameterType="com.mypf.portfolio.vo.PortfolioVO">
	<![CDATA[
		UPDATE PRTF_BOARD SET
			prtf_title = #{prtf_title}
			,prtf_con = #{prtf_con}
			,frm_dt = #{frm_dt}
			,to_dt = #{to_dt}
			,position = #{position}
			,idea = #{idea}
			,category = #{category}
			,url = #{url}
			,upt_dt = sysdate
		WHERE prtf_num = #{prtf_num}
	]]>
</update>

<!-- 포폴 삭제 -->
<delete id="pfDel">
	<![CDATA[
		DELETE FROM PRTF_BOARD
		WHERE prtf_num = #{prtf_num}
	]]>
</delete>

<!-- pfCriteria -->
<sql id="pfCriteria">
	<trim prefix="(" suffix=") AND " prefixOverrides="OR">
		<foreach item='type' collection="typeArr">
			<trim prefix="OR">
				<choose>
					<when test="type == 'user_id'.toString()">
						(user_id like '%'||#{keyword}||'%')
					</when>
					<otherwise>
						(user_id like '%'||#{keyword}||'%')
					</otherwise>
				</choose>
			</trim>
		</foreach>
	</trim>
</sql>
</mapper>