<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypf.mapper.PortfolioMapper"> 

<!-- 포폴 리스트 -->
<select id="pfList" resultType="com.mypf.portfolio.vo.PortfolioVO">
	<![CDATA[
		SELECT 
			*
		FROM (
			SELECT /*+INDEX_DESC(prtf_board pk_prtf_board) */
				rownum rn
				,prtf_num
				,prtf_title
				,prtf_con
				,frm_dt
				,to_dt
				,position
				,idea
				,url
				,hit
				,category
				,ins_dt
			FROM PRTF_BOARD
			WHERE rownum <= #{pageNum} * #{amount})
            WHERE rn > (#{pageNum}-1) * #{amount}
	]]>
<!-- 		SELECT * FROM PRTF_BOARD -->
<!-- 		WHERE PRTF_NUM > 0 -->
<!-- 	ORDER BY PRTF_NUM DESC -->
<!-- 	<if test="'category' =='siu'"> -->
<!-- 	</if> -->
<!-- 	<if test="'category' == 'ej'"> -->
<!-- 		AND CATEGORY == 'EJ' -->
<!-- 	</if> -->
</select>

<!-- 포폴 전체 데이터의 개수 처리 -->
<select id="getTotalCount" resultType="int">
	<![CDATA[
		SELECT COUNT(*) FROM PRTF_BOARD
		WHERE prtf_num > 0
	]]>
</select>

<!-- 포폴 등록 -->
<insert id="pfAdd" parameterType="com.mypf.portfolio.vo.PortfolioVO">
	<selectKey keyProperty="prtf_num" order="BEFORE" resultType="int">
		<![CDATA[SELECT SEQ_PRTF_BOARD.NEXTVAL FROM DUAL]]>	
	</selectKey>
	<![CDATA[
		INSERT INTO PRTF_BOARD (
			user_id
			,prtf_num
			,prtf_title
			,prtf_con
			,frm_dt
			,to_dt
			,position
			,idea
			,url
			,hit
			,category
			,ins_dt
		) VALUES (
			#{user_id}
			,#{prtf_num}
			,#{prtf_title}
			,#{prtf_con}
			,to_date(#{frm_dt}, 'yyyy/mm/dd')
			,to_date(#{to_dt}, 'yyyy/mm/dd')
			,#{position}
			,#{idea}
			,#{url}
			,0
			,#{category}
			,sysdate)
	]]>
</insert>

<!-- 포폴 상세보기 -->
<select id="pfDetail" resultType="com.mypf.portfolio.vo.PortfolioVO">
	<![CDATA[
		SELECT 
			A.user_id
			,A.prtf_num
			,B.user_nm
			,A.prtf_title
			,A.prtf_con
			,A.frm_dt
			,A.to_dt
			,A.position
			,A.category
			,A.idea
			,A.url
		FROM PRTF_BOARD A
			LEFT OUTER JOIN user_info B ON A.user_id = B.user_id
		WHERE prtf_num = #{prtf_num}
	]]>
</select>

<!--  조회수 증가 -->
<update id="addHit">
	<![CDATA[
		UPDATE PRTF_BOARD
		SET hit = (
			SELECT NVL(hit,0) + 1 FROM PRTF_BOARD WHERE prtf_num = #{prtf_num})
		WHERE prtf_num = #{prtf_num}
	]]>
</update>

<!-- 포폴 수정 -->
<update id="pfMod" parameterType="com.mypf.portfolio.vo.PortfolioVO">
	<![CDATA[
		UPDATE PRTF_BOARD SET
			prtf_title = #{prtf_title}
			,prtf_con = #{prtf_con}
			,frm_dt = #{frm_dt}
			,to_dt = #{to_dt}
			,position = #{position}
			,idea = #{idea}
			,category = #{category}
			,url = #{url}
			,upt_dt = sysdate
		WHERE prtf_num = #{prtf_num}
	]]>
</update>

<!-- 포폴 삭제 -->
<delete id="pfDel">
	<![CDATA[
		DELETE FROM PRTF_BOARD
		WHERE prtf_num = #{prtf_num}
	]]>
</delete>

<!-- 파일 리스트 -->
<select id ="findByPrtfNum" resultType="com.mypf.portfolio.vo.PfFileVO">
	<![CDATA[
		SELECT * FROM prtf_file
	]]>
</select>
<!-- 		SELECT * FROM PRTF_FILE WHERE PRTF_NUM = #{PRTF_NUM} -->

<!-- 포폴 파일 등록 -->
<insert id ="pfFileAdd">
	<![CDATA[
		INSERT INTO prtf_file (
			file_path
			,file_nm
			,ins_dt
			,prtf_num
			,uuid
		) VALUES (
			#{file_path}
			,#{file_nm}
			,sysdate
			,#{prtf_num}
			,#{uuid}
		)
	]]>
</insert>

<!-- 포폴 파일 삭제  -->
<delete id="pfFileDelete">
	<![CDATA[
		DELETE FROM prtf_file
		WHERE uuid = #{uuid}
	]]>
</delete>

</mapper>