<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypf.mapper.UserMapper"> 

<!-- 관리자 소개 화면 -->
<select id="mUserInfoList" resultType="com.mypf.user.vo.UserVO">
	<![CDATA[
		SELECT 
			user_nm
			,url
			,user_mail
		FROM user_info
		WHERE user_auth = 'A'
	]]>
</select>

<!-- 회원가입 -->
<insert id="register">
	<selectKey keyProperty="user_count" order="BEFORE" resultType="int">
		<![CDATA[SELECT SEQ_USER_INFO.NEXTVAL FROM DUAL]]>	
	</selectKey>
	<![CDATA[
		INSERT INTO user_info (
			user_nm
			,user_count
			,user_id
			,user_pw
			,user_mail
			,user_addr
			,user_tel
			,join_dt
			,user_auth
		) VALUES (
			#{user_nm}
			,#{user_count}
			,#{user_id}
			,#{user_pw}
			,#{user_mail}
			,#{user_addr}
			,#{user_tel}
			,sysdate
			,'U'
		)
	]]>
</insert>

<!-- 아이디 중복 확인 -->
<select id="chkID" resultType="int">
	<![CDATA[
		SELECT COUNT(*) FROM user_info
		WHERE user_id = #{user_id}
	]]>
</select>

<!-- 이메일 중복 확인 -->
<select id="chkMail" resultType="int">
	<![CDATA[
		SELECT COUNT(*) FROM user_info
		WHERE user_mail = #{user_mail}
	]]>
</select>

<!-- 회원 정보 수정 -->
<update id="userMod">
	<![CDATA[
	UPDATE user_info
	SET
		user_mail = #{user_mail}
		,user_pw = #{user_pw}
		,zipcode = #{zipcode}
		,addr01 = #{addr01}
		,addr02 = #{addr02}
		,addr03 = #{addr03}
		,user_tel = #{user_tel}
		,url = #{url}
		,upt_dt = sysdate
	WHERE user_id = #{user_id}
	]]>
</update>

<!-- 회원 권한 수정 -->
<update id="userAuth">
	<![CDATA[
	UPDATE user_info SET
		user_auth = #{user_auth}
		,upt_dt = sysdate
	WHERE user_id = #{user_id}
	]]>
</update>

<!-- 회원 리스트 -->
<select id="userInfo" resultType="com.mypf.user.vo.UserVO">
	<![CDATA[
		SELECT 
			user_count
			,user_id
			,user_nm
			,user_mail
			,user_auth
		FROM (
			SELECT /*+ INDEX DESC(user_info pk_user_info) */
				rownum rn
				,user_count
				,user_id
				,user_nm
				,user_mail
				,user_auth
			FROM user_info
			WHERE
			 rownum <= #{pageNum} * #{amount}
			)
		WHERE 
		]]>
		<include refid="userCriteria"></include>
		<![CDATA[
		rn> (#{pageNum} -1 ) * #{amount}
		ORDER BY rn DESC
	]]>
</select>

<!-- 로그인 -->
<select id="userLogin" resultType="com.mypf.user.vo.UserVO">
	<![CDATA[
		SELECT 
			user_nm 
			,user_id
			,user_pw
			,user_mail
			,user_addr
			,user_tel
			,user_auth
		FROM user_info
		WHERE user_id = #{user_id}
	]]>
<!-- 			AND user_pw = #{user_pw} -->
</select>

<!-- 회원탈퇴 -->
<delete id="userDel">
	<![CDATA[
		DELETE FROM user_info
		WHERE user_id = #{user_id}
	]]>
</delete>

<!-- 비밀번호 확인 -->
<select id="chkPW" resultType="int">
	<![CDATA[
		SELECT COUNT(*)
		FROM user_info
		WHERE user_id = #{user_id}
			AND user_pw = #{user_pw}
	]]>
</select>

<!-- 아이디 찾기 -->
<select id="findID" resultType="string">
	<![CDATA[
		SELECT user_id
		FROM user_info
		WHERE user_nm = #{user_nm}
			AND user_mail = #{user_mail}
	]]>
</select>

<!-- 비밀번호 찾기 -->
<select id="findPW" resultType="string">
	<![CDATA[
		SELECT user_pw
		FROM user_info
		WHERE user_id = #{user_id}
			AND user_nm = #{user_nm}
	]]>
</select>

<!-- 회원 리스트 전체 회원 수 -->
<select id="getTotalCount" resultType="int">
	<![CDATA[
		SELECT COUNT(*) FROM user_info where 
	]]>
	<include refid="userCriteria"></include>
	<![CDATA[
		user_count > 0
	]]>
</select>

<!-- UserCriteria -->
<sql id="userCriteria">
	<trim prefix="(" suffix=") AND " prefixOverrides="OR">
		<foreach item='type' collection="typeArr">
			<trim prefix="OR">
				<choose>
					<when test="type == 'user_id'.toString()">
						user_id like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'user_nm'.toString()">
						user_nm like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'user_mail'.toString()">
						user_mail like '%'||#{keyword}||'%'
					</when>
				</choose>
			</trim>
		</foreach>
	</trim>
</sql>
</mapper>