<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypf.mapper.UserMapper"> 

<!-- 관리자 소개 화면 -->
<select id="mUserInfoList" resultType="com.mypf.user.vo.UserVO">
	<![CDATA[
		SELECT 
			user_nm
			,url
			,user_mail
		FROM user_info
		WHERE user_id = 'mypf01' OR user_id = 'mypf02'
	]]>
</select>

<!-- 회원가입 -->
<insert id="register">
	<selectKey keyProperty="user_cnt" order="BEFORE" resultType="int">
		<![CDATA[SELECT SEQ_USER_INFO.NEXTVAL FROM DUAL]]>	
	</selectKey>
	<![CDATA[
		INSERT INTO user_info (
			user_nm
			,user_cnt
			,user_id
			,user_pw
			,user_mail
			,user_addr
			,user_photo
			,user_tel
			,join_dt
			,user_auth
		) VALUES (
			#{user_nm}
			,#{user_cnt}
			,#{user_id}
			,#{user_pw}
			,#{user_mail}
			,#{user_addr}
			,#{user_photo}
			,#{user_tel}
			,sysdate
			,'U'
		)
	]]>

</insert>
<!-- 아이디 중복 확인 -->
<select id="chkID" resultType="int">
	<![CDATA[
		SELECT COUNT(*) FROM user_info
		WHERE user_id = #{user_id}
	]]>
</select>

<!-- 회원 정보 수정 -->
<update id="userMod">
	<![CDATA[
		UPDATE user_info SET
			user_pw = #{user_pw}
			,user_mail = #{user_mail}
			,user_addr = #{user_addr}
			,user_tel = #{user_tel}
			,user_photo = #{user_photo}
			,url = #{url}
			,upt_dt = sysdate
		WHERE user_id = #{user_id}
	]]>
</update>

<!-- 회원 권한 수정 -->
<update id="userAuth">
	<![CDATA[
	UPDATE user_info SET
		user_auth = #{user_auth}
		,upt_dt = sysdate
	WHERE user_id = #{user_id}
	]]>
</update>
</mapper>